[GenericBot]
# XMPP id of the bot 
jid=CHANGEME

# XMPP password of the bot
password=CHANGEME

[BackupBot]
# XMPP id of the bot
# default values from the GenericBot section can be overwritten in
# each subsequent section (or can be provided at the command line)
jid=CHANGEME

# jabber password
password=CHANGEME

# -----------------------------------
# special variables for the BackupBot
# -----------------------------------

# logfile directory where the bot should check for backup logfiles
logdir=/var/log/duplicity

# logfiles for specific backup destinations are defined here
logfiles=home.log srv.log

[GitBot]
# jid for the bot
jid=CHANGEME

# jabber password
password=CHANGEME

# target dir for git work (e.g. where git clones should be placed)
gitdir=/home/user/git

# username at github.com (used for forks from GitHub)
ghuser=egoexpress

[LinuxBot]
# jid for the bot
jid=CHANGEME

# jabber password
password=CHANGEME

# check these directories for free space
fs_directories=/usr / /var

# free space threshold (in percent)
fs_threshold=90
